.post-wrapper {
  &.post-box {
    border: 1px solid #ccc;
    margin-bottom: 3%;
    padding: 24px 5%;
    margin-top: 5%;
  }

  .post-title {
    font-size: 32px;
    text-align: justify;
    text-justify: newspaper;
  }

  .post-date {
    color: #666;
    display: block;
    margin-bottom: 3%;
  }

  .post-cover {
    width: 100%;
    height: auto;
    margin-bottom: 5%;
  }

  .post-image {
    width: 100%;
    height: auto;
    cursor: pointer;
  }

  .post-link {
    text-decoration: underline;
    font-size: 20px;
    color: #0645ad;
    cursor: pointer;

    &:hover {
      color: #0b0080;
    }
  }

  .post-summary {
    padding: 3% 1%;
    white-space: pre-line;
    text-align: justify;
  }
}

.hightlight-wrapper {
  position: relative;
  width: 100%;
  height: 500px;

  .hightlight-image {
    width: 100%;
    height: 100%;
  }

  .hightlight-title {
    cursor: pointer;
    opacity: 0.85;
    background-color: #000;
    text-shadow: 0 0 10px #000;
    position: absolute;
    text-align: justify;
    min-width: 1%;
    max-width: 70%;
    font-size: 32px;
    bottom: 15px;
    left: 30px;
    color: #fff;
    padding: 5px 10px;
  }
}
