.showcase-wrapper {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 170px;
  min-width: 100%;
  border: 1px solid #b6b6b6;
  overflow-x: auto;
  white-space: nowrap;
}

.showcase-filter {
  position: relative;
  top: 0;
  height: 50px;
  width: 100%;
}

.stock-type-wrapper {
  margin-top: 1%;
  display: inline-block;
  border-right: 1px solid #b6b6b6;
  margin-left: 3%;

  .stock-type {
    font-weight: bold;
  }
}

.stock-wrapper {
  display: inline-block;
  padding-right: 5% !important;

  .stock-name {
    color: #0081f2;
    font-weight: bold;
  }

  .stock-text {
    display: block;
  }
}
