/********************
***** VARIABLES *****
********************/
$screen-sm-min: 576px; // Small tablets and large smartphones (landscape view)
$screen-md-min: 768px; // Small tablets (portrait view)
$screen-lg-min: 992px; // Tablets and small desktops
$screen-xl-min: 1200px; // Large tablets and desktops

/********************
(***** MIXINS ******
********************/
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

/********************
(***** GENERAL ******
********************/
* {
  font-family: "Libre Baskerville", serif !important;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.nowrap {
  white-space: nowrap;
}

.not-found {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  transform: translateY(-50%);

  h1 {
    margin-bottom: 1.5%;
  }
}

.custom-btn,
.custom-btn-invert {
  border-radius: 50px;
  padding: 10px 20px;
  outline: none;
  font-size: bold;
  text-align: center;
  cursor: pointer;
}

.custom-btn {
  background-color: transparent;
  border: 1px solid #15787d;
  color: #15787d;

  &:hover {
    background-color: #15787d;
    box-shadow: 0px 1px #fff;
    color: #fff;
  }
}

.custom-btn-invert {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-weight: bold;

  &:hover {
    background-color: #fff;
    box-shadow: 0px 1px #15787d;
    color: #15787d;
  }
}

.section {
  margin-top: 1.5%;
  margin-bottom: 5%;

  .section-title {
    margin-bottom: 1.5%;
  }
}

.floating-btn {
  position: fixed;
  bottom: 5%;
  right: 5%;
  border-radius: 50%;
  font-size: 30px;
  line-height: 50%;
  padding: 15px;
}
